/* main color #FFFFFF;
accent color #2196F3;
theme color  #F5F4FA;
second theme color  #2F303A;
text color  #212121
second text color #757575;
*/
:root {
   --text-color: #212121;
   --second-text-color: #757575;
   --accent-color: #2196F3;
   --main-color: #FFFFFF;
   --theme-color: #F5F4FA;
   --second-theme-color: #2F303A;
}

body {
   font-family: 'Roboto', sans-serif;
   color: var(--text-color);
}
.logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   color: #000000;
   text-decoration: none;
}
.logo-color {
   color: var(--accent-color);
}