/* main color #FFFFFF;
accent color #2196F3;
theme color  #F5F4FA;
second theme color  #2F303A;
text color  #212121
second text color #757575;
*/
:root {
   --text-color: #212121;
   --second-text-color: #757575;
   --accent-color: #2196F3;
   --main-color: #FFFFFF;
   --theme-color: #F5F4FA;
   --second-theme-color: #2F303A;
}

body {
   font-family: 'Roboto', sans-serif;
   color: var(--text-color);
}
.logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: #000000;
   text-decoration: none;
}
.logo-web {
   color: var(--accent-color);
}
.logo-studio {
   color: var(--main-color);
}
.list {
   list-style: none; 
}
.navigations {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--text-color);
   text-decoration: none;
}  
.contact {
   color: var(--second-text-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
}
.navigations:hover,
.navigations:focus,
.contact:focus,
.contact:hover {
   color: var(--accent-color);
}
.banner {
   background-color: var(--second-theme-color);
}
.banner-title {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--main-color);
}
.banner-button {
   background-color: var(--accent-color);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   color: var(--main-color);
}
.hide {
   font-size: 0;
}
.title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
}
.worker {
   background-color: var(--theme-color);
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
}
.worker-card {
   background-color: var(--main-color);
}
.worker-name {
   font-weight: 500;
}
.worker-position {
   font-weight: 400;
   color: var(--second-text-color);
}










.footer {
   background-color: var(--second-theme-color);
}
.footer-contact {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
   font-style: normal;
   text-decoration: none;
}
.footer-contact.footer-physical {
   color: var(--main-color);
}